{{define "mobile_address_suggestions.html"}}
{{range .}}
<button class="mobile-suggestion" type="button" data-address-suggestion="{{.Label}}">
  {{.Label}}
</button>
{{else}}
<div class="mobile-address-no-results">No addresses found</div>
{{end}}
{{if .}}<div class="address-attribution"><picture><source srcset="/static/img/google-maps-attribution-dark.svg" media="(prefers-color-scheme: dark)"><img src="/static/img/google-maps-attribution.svg" alt="Google Maps" width="98" height="18"></picture></div>{{end}}
{{end}}
